<%= link_to "<< Previous", categories_path, class:"text-2xl" %>


<div class="flex justify-center items-center flex-col mb-10">
   <h1 class="text-5xl">Transaction Details</h1>
   <span>Total amount spent on <%= @category.name%>: $<%=@category.total %></span>
</div>

<div class="flex justify-end items-center m-5 border-2 rounded-md border-blue-300 p-2">
<button class="mb-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
<%= link_to "Add Expense",  new_expenditure_path %>
</button>
</div>
<% if @expenditures.present? %>
<div class="flex flex-col w-[80%] mx-auto">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">

<table class="min-w-full">
<thead class="border-b bg-indigo-100 border-indigo-200">
     <tr>
       <th scope="col" class="text-lg font-medium text-gray-900 px-6 py-4 text-left" >Date</th>
       <th scope="col" class="text-lg font-medium text-gray-900 px-6 py-4 text-left">Transactions</th>
       <th scope="col" class="text-lg font-medium text-gray-900 px-6 py-4 text-left">Amount</th>
       <th scope="col" class="text-lg font-medium text-gray-900 px-6 py-4 text-left">Action</th>
     </tr>
  </thead> 
  <tbody>
  <% @expenditures.each do |expense| %>  
  <% if can? :read, expense %>  
    <tr class="border-b"> 

    <td scope="row" class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900"><%= expense.created_at.strftime("%d/%m/%Y") %></td>
    <td scope="row" class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900"><%= expense.name%></td>
    <td scope="row" class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900">$<%= expense.amount%></td>
    <td scope="row" class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900">
       <%= button_to 'Delete', expenditure_path(expense.expenditure_id), 
       method: :delete, data: { turbo_confirm: "Are you sure you want to delete #{expense.name}?"},
       class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    </td>
    </tr>
    <%end%>
  <% end %>
</tbody>
</table>
</div>
    </div>
  </div>
</div>
<%end%>